<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Nhsbt Nuget Packages" value="https://nhsbt.pkgs.visualstudio.com/_packaging/Nhsbt/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="packages" />
    <add key="dependencyVersion" value="Highest" />
  </config>
</configuration>